<div class="row row-cols-1 row-cols-md-8 g-2">
    <div class="col">
      <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="card h-100">
          <%= image_tag movie.poster_url, alt: movie.title, width: 100 %>
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
              <p class="card-text"><%= movie.overview %></p>
              <p class="card-text"> Rating: <%= movie.rating %></p>
              <p class="card-text"> Bookmark comment: <%= bookmark.comment %></p>
            </div>
              <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
            <% end %>
        </div>
    </div>
  </div>
